<% @songs.each.sort do |song| %>
  <h3>
  <a href="/songs/<%= song.id %>">
  <%= song.song_title %>
  </a>
  <small> by <%= song.artist %></small>
  </h3>
  
  <h4><%= song.genre %></h4>
  <p>Likes: <%= song.upvote_count %></p>
    <% unless current_user.already_voted?(song) %>
      <form 
        action = "songs/like/<%= song.id %>/<%= current_user.id %>" 
        method = "POST" 
        type = "button"
        >
        <input 
          type = "submit" 
          value = "Like!"
        >
      </form>
    <% end %>

    <% if current_user.already_voted?(song) %>
      <form 
        action = "songs/unlike/<%= song.id %>/<%= current_user.id %>" 
        method = "POST" 
        type = "button"
        >
        <input 
          type = "submit" 
          value = "Unlike!"
        >
      </form>
    <% end %>

  <p>
  <a href="<%= song.url %>"><%= song.url %></a><br />
  <small>Posted by <%= User.find(song.user_id).email %> at </small>
  <small><%= song.created_at %></small>
  </p>
  <hr/>
<% end %>
