
<h2><%= @song.song_title %><small> by <%= @song.artist %></small></h2>

<p><a href = "<%= @song.url %>"><%= @song.url %></a></p>

<div class="col-xs-6">

<% if current_user %>
  <% unless current_user.already_reviewed?(@song) %>
  
    <div>
        <form   
          action = "/reviews/<%= @song.id %>" 
          method = "POST" 
          class = "form-group"
          role = "form">

          <label class="sr-only" >Rating</label>
            <input 
              class="rating" 
              data-max="5" 
              data-min="1" 
              name="user_rating" 
              type="number"
              data-clearable="remove">

        <div class = "form-group" for = "exampleInputEmail2">
          <textarea class = "form-control" rows = "3" name = "user_review"></textarea>
        </div>

        <div class = "form-group" for = "exampleInputEmail2">      
          <input type = "submit" value = "Submit" class = "btn btn-default">
        </div>
        </form>
    </div>
  <% else %>
    <h5>You've already voted on this song</h5>
  <% end %>
<% end %>

<% if !current_user %>
  <h3>You need to be logged in to vote</h3>
<% end %>

<div>
<hr/>
<h3>the peanut gallery</h3>
<hr/>

<% Review.where(song_id: @song.id).each do |reviews| %>
  <p>
  <% (reviews.user_rating).to_i.times do %>
  <i class='glyphicon glyphicon-star'></i>
  <% end %><br />

  <%= reviews.user_review %> <br />
  <small>by <%= reviews.user.email %></small>
  </p>
    <% if current_user.id == reviews.user.id %>
      <p><a href = "/delete/<%= @song.id %>">Delete your post?</a></p>
    <% end %>
  <hr />
<% end %>
</div>

</div>